@model IEnumerable<eHolidayService.Models.Car>

<!DOCTYPE html>

<html>
<head>
    
</head>
<body>
<div class="row">
      <div class="col-lg-12">
          <!-- TOP CAMPAIGN-->
          <div class="top-campaign">
              <h3 class="title-3 m-b-30">Our Cars</h3>
              <div class="table-responsive">
                  <table class="table table-top-campaign">
                      <tbody>
                      @foreach (var item in Model)
                      {
                          <tr>
                              <td>@item.Mark</td>
                              <td>@item.Model</td>
                              @if (item.Disponiblity == 0)
                              {
                                  <td>Available</td>
                              }
                              @if (item.Disponiblity == 1)
                              {
                                  <td>Unavailable</td>
                              }
                          </tr>
                      }
                      </tbody>
                  </table>
              </div>
          </div>
          <!--  END TOP CAMPAIGN-->
      </div>
</div>
</body>
</html>