@model eHolidayService.Models.Client

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="tm-section-header section-margin-top">
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Login / Sign Up</h2></div>
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
            </div>
        </div>
        @if (ViewBag.status != "0")
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.message
            </div> 
        }
        <div class="row">
            <!-- contact form -->
        @using (Html.BeginForm("Connexion", "Client"))
        {
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" id="pseudo" name="pseudo" class="form-control" placeholder="Pseudo" />
                    <div class="clearfix">@Html.ValidationMessageFor(model => model.Pseudo, "", new { @class = "text-danger" })</div>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                    <div class="clearfix">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</div>
                </div>
                <input type="hidden" id="passdata" name="passdata" value="@ViewBag.passdata" />
                <input type="hidden" id="idtours" name="idtours" value="@ViewBag.idtours" />
                <div class="form-group">
                    <button class="tm-submit-btn" type="submit" name="submit">Login</button>
                </div>
                <div class="contact-social">
                    <a href="#" class="tm-social-icon tm-social-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="tm-social-icon tm-social-dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="tm-social-icon tm-social-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="tm-social-icon tm-social-instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="tm-social-icon tm-social-google-plus"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        }
        @using (Html.BeginForm("Subscription", "Client"))
        {
            <div class="col-lg-6 col-md-6 tm-contact-form-input">
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" />
                    <div class="clearfix">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</div>
                </div>
                <div class="form-group">
                    <input type="text" id="pseudo" name="pseudo" class="form-control" placeholder="Pseudo" />
                    <div class="clearfix">@Html.ValidationMessageFor(model => model.Pseudo, "", new { @class = "text-danger" })</div>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                    <div class="clearfix">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</div>
                </div>
                <div class="form-group">
                    <button class="tm-submit-btn" type="submit" name="submit">Sign Up</button>
                </div>
            </div>
        }
        </div>                    
    </div>
</section>
