﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@using System.Web.Mvc.Html
@model eHolidayService.Models.Client

<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="mainBO"/>
    <title>Holiday | Dashboard</title>
</head>
<body class="animsition">

<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="~/Assets/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        @using (Html.BeginForm("Connexion", "Client"))
                        {
                            <div class="form-group">
                                <label>Pseudo</label>
                                <input class="au-input au-input--full" type="pseudo" name="pseudo" placeholder="Pseudo">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Sign in</button>
                        }
                        <div class="register-link">
                            <p>
                                Don't you have account?
                                <a href="#">Sign Up Here</a>
                            </p>
                        </div>
                        <div class="alert alert-light" role="alert"></div>
                        @if (ViewBag.status != 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.message
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>