@model IEnumerable<eHolidayService.Models.Hotel>

<!DOCTYPE html>

<html>
<head>
    
</head>
<body>
<div class="row">
  <div class="col-lg-12">
          <!-- TOP CAMPAIGN-->
          <div class="top-campaign">
              <h3 class="title-3 m-b-30">Our Hotels</h3>
              <div class="table-responsive">
                  <table class="table table-top-campaign">
                      <tbody>
                      @foreach (var item in Model)
                      {
                          <tr>
                              <td>@item.Name</td>
                              <td>@item.Stars <img src="../../Assets/images/icon/star.png" alt="Star" /></td>
                          </tr>
                      }
                      </tbody>
                  </table>
              </div>
          </div>
          <!--  END TOP CAMPAIGN-->
      </div>
</div>
</body>
</html>