@page
@using eHolidayService.Models
@model eHolidayService.Models.Voyage
@{
    Tours tour = (Tours) ViewBag.tour;
    List<Car> cars = (List<Car>) ViewBag.cars;
    List<Hotel> hotels = (List<Hotel>) ViewBag.hotels;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<section class="container tm-home-section-1" id="more">
    <div class="section-margin-top">
        <div class="row">
            <div class="tm-section-header">
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Your choosen destination</h2></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tm-tours-box-1">
                    <img src="~/images/@tour.Picture" alt="image" class="img-responsive"/>
                    <div class="tm-tours-box-1-info">
                        <div class="tm-tours-box-1-info-left">
                            <p class="text-uppercase margin-bottom-20">@tour.Destination</p>
                        </div>
                        <div class="tm-tours-box-1-info-right">
                            <p class="gray-text tours-1-description">@tour.Description</p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link">
                        <div class="tm-tours-box-1-link-left">
                            Duration: @tour.Duration DAYS
                        </div>
                        <a href="#" class="tm-tours-box-1-link-right">
                            $@tour.Price
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="">
                    <div class="tm-search-box effect2">
                    @using (Html.BeginForm("VoyageDetails", "Voyage"))
                    {
                        <div class="tm-form-inner">
                            <div class="form-group">
                                <select class="form-control" name="hotel" id="hotel">
                                        <option value="">-- Select Hotel -- </option>
                                    @foreach (var hotel in hotels)
                                    {
                                        <option value="@hotel.Id">@hotel.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="car" id="car">
                                    <option value="">-- Select Car -- </option>
                                    @foreach (var car in cars)
                                    {
                                        <option value="@car.Id">@car.Mark @car.Model</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' name="startdate" id="startdate" class="form-control" placeholder="Check-in Date" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' name="enddate" id="enddate" class="form-control" placeholder="Check-out Date" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group margin-bottom-0">
                                <select class="form-control" name="guest" id="guest">
                                    <option value="">-- Guests -- </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5p">5+</option>
                                </select>
                            </div>
                            <input type="hidden" name="idtours" id="idtours" value="@tour.Id">
                        </div>
                        <div class="form-group tm-yellow-gradient-bg text-center">
                            <button type="submit" name="submit" class="tm-yellow-btn">Reserve now</button>
                        </div>
                    }
                    </div>
                </div>
            </div>
    </div>
</section>
</body>
</html>