﻿
@{
    ViewData["Title"] = "Services";
}

<body>
    <section class="container tm-home-section-1" id="more">
        <div class="row">
            <!-- slider -->
            <div class="flexslider effect2 effect2-contact tm-contact-box-1">
                <ul class="slides">
                    <li>
                        <img src="~/images/world-map.png" alt="image" class="contact-image" />
                        <div class="contact-text">
                            <h2 class="slider-title">Lorem Isum Dolor</h2>
                            <h3 class="slider-subtitle">Gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis auctor, nisi elit consequat ipsum</h3>
                            <p class="slider-description">
                                Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                                Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <section class="section-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="tm-section-header section-margin-top">
                        <div class="col-lg-4 col-md-3 col-sm-2"><hr></div>
                        <div class="col-lg-4 col-md-6 col-sm-8"><h2 class="tm-section-title">How about your trip?</h2></div>
                        <div class="col-lg-4 col-md-3 col-sm-2"><hr></div>
                    </div>
                </div>
                <div class="row">
                    <!-- contact form -->

                    @using (Html.BeginForm("Savescore", "Voyage"))
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="contact-social">
                                <a href="#" class="tm-social-icon tm-social-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon tm-social-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#" class="tm-social-icon tm-social-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon tm-social-instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="tm-social-icon tm-social-google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 tm-contact-form-input">
                            <div class="form-group">
                                <select class="form-control" name="score" id="score">
                                    <option value="">-- Select mark -- </option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea id="contact_message" name="message" class="form-control" rows="6" placeholder="MESSAGE"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="tm-submit-btn" type="submit" name="submit">Send</button>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </section>
    </section>
</body>
