@model eHolidayService.Models.Voyage

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<section class="container tm-home-section-1" id="more">
    <div class="row">
        <div class="flexslider flexslider-about effect2">
            <img src="~/images/@Model.Tours.Picture" alt="image" />
            <div class="flex-caption">
                <h2 class="slider-title">Your voyage details</h2>
                <h3 class="tm-about-box-2-title">@Model.Tours.Destination</h3>
                <p class="tm-about-box-2-description">
                    From @Html.DisplayFor(x => x.Startdate) to @Html.DisplayFor(x => x.EndDate) (@Model.Finalduration Days) for @Model.Guest personnes<br><br>
                    You will stay at @Model.Hotel.Name (@Model.Hotel.Stars stars) and a @Model.Car.Mark @Model.Car.Model will be at your disposal.
                </p>
                    <h4>For $@Model.Finalprice</h4>
                <div class="slider-social">
                    <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>