﻿@model IPagedList<eHolidayService.Models.Voyage>
@using PagedList.Mvc
@using PagedList
@{
    eHolidayService.Models.Voyage updatedvoyage = (eHolidayService.Models.Voyage)ViewBag.updatedvoyage;
}

<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="row">

        <div class="col-lg-11">
            <!-- TOP CAMPAIGN-->
            <div class="top-campaign">
                <h3 class="title-3 m-b-30">Voyages reservation</h3>
                <div class="table-responsive">
                    <table class="table table-top-campaign">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Client.Email</td>
                                    <td>To @item.Tours.Destination</td>
                                    <td>@item.Hotel.Name</td>
                                    <td>@item.Car.Mark @item.Car.Model</td>
                                    <td>@item.Guest personnes</td>
                                    <td>From @item.Startdate.ToString("yyyy-MM-dd") to @item.EndDate.ToString("yyyy-MM-dd") (@item.Finalduration Days)</td>
                                    <td>@item.Finalprice</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Voyage", new {idvoyage = item.Id})"
                                           class="au-btn au-btn-icon au-btn--blue">
                                            Update
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Delete", "Voyage", new {idvoyage = item.Id})"
                                           class="au-btn au-btn-icon au-btn--blue">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="paginate">
                        @Html.PagedListPager(Model, page => Url.Action("Index", "Voyage", new { page }), PagedListRenderOptions.MinimalWithPageCountText)
                    </div>
                </div>
            </div>
            <!--  END TOP CAMPAIGN-->
        </div>

        @if (ViewBag.status == 1)
        {
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Update Trip</h3>
                        </div>
                        <hr>
                        @using (Html.BeginForm("Update", "Voyage"))
                        {
                            <div class="form-group has-success">
                                <label class="control-label mb-1">Destination</label>
                                <input id="destination" name="destination" type="text" value="@updatedvoyage.Tours.Destination" readonly class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                       autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group has-success">
                                <label for="picture" class="control-label mb-1">Client</label>
                                <input id="client" name="client" type="text" value="@updatedvoyage.Client.Pseudo" readonly class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                       autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group has-success">
                                <label for="Hotel" class="control-label mb-1">Hotel</label>
                                <input id="Hotel" name="Hotel" type="number" value="@updatedvoyage.Hotel.Name" readonly class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                       autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group has-success">
                                <label for="Car" class="control-label mb-1">Car</label>
                                <input id="Car" name="Car" type="text" value="@updatedvoyage.Car.Mark" readonly class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                       autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" />
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group has-success">
                                <label for="guest" class="control-label mb-1">Guest</label>
                                <input id="guest" name="guest" type="number" value="@updatedvoyage.Guest" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                       autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group has-success">
                                <label for="startdate" class="control-label mb-1">Start Date</label>
                                <input id="startdate" name="startDate" value="@updatedvoyage.Startdate" type="date" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                       autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group has-success">
                                <label for="endDate" class="control-label mb-1">End Date</label>
                                <input id="endDate" name="endDate" value="@updatedvoyage.EndDate" type="date" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                       autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <input type="hidden" name="tourDuration" value="@updatedvoyage.Tours.Duration">
                            <input type="hidden" name="tourPrice" value="@updatedvoyage.Tours.Price">
                            <input type="hidden" name="idVoyage" value="@ViewBag.idvoyage">
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                    <span id="payment-button-amount">Update</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>