@{
    ViewBag.Title = "Home Page";
    List<BestTour> bestTours = (List<BestTour>)ViewBag.bestours;
}
@using eHolidayService.Models
@model IEnumerable<eHolidayService.Models.Client>

<!DOCTYPE html>
<html>
<body>
<!-- PAGE CONTAINER-->
        <!-- HEADER DESKTOP-->
        <!-- MAIN CONTENT-->
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">overview</h2>
                                <button class="au-btn au-btn-icon au-btn--blue">
                                    <i class="zmdi zmdi-plus"></i>add item
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        @{
                            int i = 1;
                            foreach (var best in bestTours)
                            {
                                <div class="col-sm-6 col-lg-3">
                                    <div class="@("overview-item overview-item--c" + i)">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-account-o"></i>
                                                </div>
                                                <div class="text">
                                                    <h2>@best.Number</h2>
                                                    <span>@best.destination</span>
                                                </div>
                                            </div>
                                            <div class="overview-chart">
                                                <canvas id="@("widgetChart" + i)"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                i++;
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">
                                    <h3 class="title-2 tm-b-5">Opinion by %</h3>
                                    <div class="row no-gutters">
                                        <div class="col-xl-6">
                                            <div class="chart-note-wrap">
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Excellent</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--red"></span>
                                                    <span>Satisfied</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--green"></span>
                                                    <span>Intermediate</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--green"></span>
                                                    <span>To improve</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--red"></span>
                                                    <span>Disappointed</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="percent-chart">
                                                <canvas id="percent-chart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                <div class="au-card-title" style="background-image:url(@Url.Content("Assets/images/bg-title-01.jpg")">
                                    <div class="bg-overlay bg-overlay--blue"></div>
                                    <h3>
                                        <i class="zmdi zmdi-comment-text"></i>Site clients : @ViewBag.number
                                    </h3>
                                    <button class="au-btn-plus">
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                </div>
                                <div class="au-inbox-wrap js-inbox-wrap">
                                    <div class="au-message js-list-load">
                                        <div class="au-message-list">
                                            @{
                                                int a = 1;
                                                foreach (var item in Model)
                                                {
                                                    //var pics = "~/Assets/images/icon/avatar-0" + i + ".jpg";
                                                    <div class="au-message__item unread">
                                                        <div class="au-message__item-inner">
                                                            <div class="au-message__item-text">
                                                                <div class="avatar-wrap">
                                                                    <div class="avatar">
                                                                        <img src="@("../Assets/images/icon/avatar-0" + a + ".jpg")" alt="@item.Pseudo" />
                                                                        @*<img src="@("../Assets/images/icon/avatar-02.jpg")" alt="@item.Pseudo" />*@
                                                                    </div>
                                                                </div>
                                                                <div class="text">
                                                                    <h5 class="name">@item.Pseudo</h5>
                                                                    <p>@item.Email</p>
                                                                </div>
                                                            </div>
                                                            <div class="au-message__item-time">
                                                                @if (item.Admin == 1)
                                                                {
                                                                    <a href="@Url.Action("UpdateAdmin", "Client", new {idclient = item.Id})"
                                                                       class="au-btn au-btn-icon au-btn--blue">
                                                                        Set as admin
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Action("UpdateAdmin", "Client", new {idclient = item.Id})"
                                                                       class="au-btn au-btn-icon au-btn--blue">
                                                                        Remove as admin
                                                                    </a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    a++;
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="au-chat">
                                        <div class="au-chat__title">
                                            <div class="au-chat-info">
                                                <div class="avatar-wrap online">
                                                    <div class="avatar avatar--small">
                                                        <img src="Assets/images/icon/avatar-02.jpg" alt="John Smith">
                                                    </div>
                                                </div>
                                                <span class="nick">
                                                    <a href="#">John Smith</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="au-chat__content">
                                            <div class="recei-mess-wrap">
                                                <span class="mess-time">12 Min ago</span>
                                                <div class="recei-mess__inner">
                                                    <div class="avatar avatar--tiny">
                                                        <img src="Assets/images/icon/avatar-02.jpg" alt="John Smith">
                                                    </div>
                                                    <div class="recei-mess-list">
                                                        <div class="recei-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                                                        <div class="recei-mess">Donec tempor, sapien ac viverra</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="send-mess-wrap">
                                                <span class="mess-time">30 Sec ago</span>
                                                <div class="send-mess__inner">
                                                    <div class="send-mess-list">
                                                        <div class="send-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="au-chat-textfield">
                                            <form class="au-form-icon">
                                                <input class="au-input au-input--full au-input--h65" type="text" placeholder="Type a message">
                                                <button class="au-input-icon">
                                                    <i class="zmdi zmdi-camera"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
</body>
</html>