@model eHolidayService.Models.PagingList<eHolidayService.Models.Tours>
@addTagHelper *, ReflectionIT.Mvc.Paging
<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<section class="container tm-home-section-1" id="more">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                <img src="~/images/index-01.jpg" alt="image" class="img-responsive"/>
                <a href="#">
                    <div class="tm-green-gradient-bg tm-city-price-container">
                        <span>New York</span>
                        <span>$6,600</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
                <img src="~/images/index-02.jpg" alt="image" class="img-responsive"/>
                <a href="#">
                    <div class="tm-red-gradient-bg tm-city-price-container">
                        <span>Paris</span>
                        <span>$4,200</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="section-margin-top">
        <div class="row">
            <div class="tm-section-header">
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Our Tours</h2></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
            </div>
        </div>
        <div class="row">
            @using (Html.BeginForm("Index", "Tours"))
            {
                <div class="col-lg-3 col-md-6 tm-contact-form-input">
                    <div class="form-group">
                        <select class="form-control" id="sortingkey" name="sortingkey">
                            <option value="">-- Select -- </option>
                            <option value="Destination">Destination</option>
                            <option value="Duration">Duration</option>
                            <option value="Price">Price</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning col-lg-4" type="submit" name="submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </div>
                </div>            
            }
            @using (Html.BeginForm("Index", "Tours"))
            {
                <div class="col-lg-3 col-md-6 tm-contact-form-input">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search ..." name="searchkey" id="searchkey">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning col-lg-4" type="submit" name="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>           
            }
        </div>
        <br/>
        <div class="row">
            @foreach (var item in Model.ListItems)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="~/images/@item.Picture" alt="image" class="img-responsive" />
                        <div class="tm-tours-box-1-info">
                            <div class="tm-tours-box-1-info-left">
                                <p class="text-uppercase margin-bottom-20">@item.Destination</p>
                            </div>
                            <div class="tm-tours-box-1-info-right">
                                <p class="gray-text tours-1-description">@item.Description</p>
                            </div>
                        </div>
                        <div class="tm-tours-box-1-link">
                            <div class="tm-tours-box-1-link-left">
                                Duration: @item.Duration DAYS
                            </div>
                            <a href="@Url.Action("Index", "Voyage", new {idtours = item.Id})"
                               class="tm-tours-box-1-link-right">
                                $@item.Price
                            </a>
                        </div>
                    </div>
                </div>            
             }
        <div class="paginate">
            @for (var p = 1; p <= Model.TotalPages; p++)
            {
                <a href="@Url.Action("Index", new { page = p , searchkey = Model.SearchKey, sortingkey = Model.SortingKey})" class="btn btn-default">@p</a>
            }
        </div>
        </div>
    </div>
</section>
</body>
</html>