﻿@{
    ViewData["Title"] = "Welcome to Holiday";
}

<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                var price = $("#price").val();
                var duration = $("#duration").val();
                var dataargument = '';
                if (price == "") {
                    console.log("Empty price!");
                    dataargument = '{"duration" : "' + duration + '"}';
                }
                else if (duration == "") {
                    console.log("Empty price!");
                    dataargument = '{"price": "' + price + '"}';
                }
                else dataargument = '{"price": "' + price + '", "duration" : "' + duration + '"}';
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "http://localhost:62149/SearchService.svc/searchbypriceandduration",
                    data: dataargument,
                    //data: '{"price": "3600","duration": "5" }',
                    processData: false,
                    dataType: "json",

                    success: function (response) {
                        $("#displayhere").empty();
                        console.log(response);
                        var voyages = response.SearchByPriceAndDurationResult;
                        var html = "";
                        for (i = 0; i < voyages.length; i++) {
                            html += "<div class=" +'col-lg-6'+">"+
                                "<div class=" +'tm-home-box-3'+">"+
                                "<div class=" + 'tm-home-box-3-img-container' + ">" +     
                                "<img src=" + 'images/' + voyages[i].Picture + " alt=" + 'image' + " class=" + 'img-responsive' + ">" +
                                "</div>" +
                                "<div class=" + 'tm-home-box-3-info' + ">" +
                                "<p class=" + 'tm-home-box-3-description' + ">" + voyages[i].Description + "</p>" +
                                "<a href=" + '/Voyage?idtours=' + voyages[i].Id +" class=" +'tm-home-box-2-link'+"><span class="+'tm-home-box-2-description box-3'+">Travel</span></a>"+
                                "</div></div></div>";
                        }
                        $("#displayhere").html(html == "" ? "No results" : html);

                    },
                    error: function (xhr, textStatus, error) {
                        console.log(xhr.responseText);
                        console.log(xhr.statusText);
                        console.log(textStatus);
                        console.log(error);
                    }
                });
            });
        });

    </script>

</head>
<!-- gray bg -->
<section class="container tm-home-section-1" id="more">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- Nav tabs -->
            <div class="tm-home-box-1">
                <ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
                    <li role="presentation" class="active">
                        <a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Tours</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
                        <div class="tm-search-box effect2">
                            <div class="tm-form-inner">
                                <div class="form-group">
                                    <div class='input-group'>
                                        <input type='number' id='price' class="form-control" placeholder="Price" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-dollar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class='input-group day'>
                                        <input type='number' id='duration' class="form-control" placeholder="Duration" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar-times-o"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group tm-yellow-gradient-bg text-center">
                                <button type="submit" id="btnSearch" class="tm-yellow-btn">Check Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                <img src="images/index-01.jpg" alt="image" class="img-responsive">
                <a href="#">
                    <div class="tm-green-gradient-bg tm-city-price-container">
                        <span>New York</span>
                        <span>$6,600</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
                <img src="images/index-02.jpg" alt="image" class="img-responsive">
                <a href="#">
                    <div class="tm-red-gradient-bg tm-city-price-container">
                        <span>Paris</span>
                        <span>$4,200</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="tm-white-bg section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="tm-section-header section-margin-top">
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Popular Packages</h2></div>
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
            </div>
            <div id="displayhere"></div>
        </div>
    </div>
</section>